[submodule "third_party/libunwind/upstream"]
	path = third_party/libunwind/upstream
	url = git://git.sv.gnu.org/libunwind.git
[submodule "third_party/glog/upstream"]
	path = third_party/glog/upstream
	url = https://github.com/google/glog.git
[submodule "third_party/gflags/upstream"]
	path = third_party/gflags/upstream
	url = https://github.com/gflags/gflags.git
[submodule "third_party/bazel/upstream"]
	path = third_party/bazel/upstream
	url = https://github.com/google/bazel
[submodule "third_party/protobuf/upstream"]
	path = third_party/protobuf/upstream
	url = https://github.com/google/protobuf.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl
[submodule "third_party/grpc/upstream"]
	path = third_party/grpc/upstream
	url = https://github.com/grpc/grpc.git
[submodule "third_party/folly/upstream"]
	path = third_party/folly/upstream
	url = https://github.com/facebook/folly.git
[submodule "third_party/snappy/upstream"]
	path = third_party/snappy/upstream
	url = https://github.com/google/snappy.git
